.home1 {
  text-decoration: underline;
  align-self: stretch;
  height: 38px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.home-wrapper {
  width: 81px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-140xl) 0 0;
  box-sizing: border-box;
}
.edu-world-affairs {
  height: 101px;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  font-weight: 700;
  white-space: nowrap;
}
.a {
  color: inherit;
}
.a-good-diplomate-container {
  width: 650px;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  white-space: nowrap;
}
.a-good-diplomate-today-unleas-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xl);
  font-family: var(--font-inika);
}
.edu-world-affairs-parent {
  width: 715px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.education {
  text-decoration: underline;
  height: 38px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  min-width: 100px;
}
.education-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.resources1 {
  margin: 0;
}
.resources {
  align-self: stretch;
  height: 38px;
  position: relative;
  text-decoration: underline;
  display: inline-block;
  flex-shrink: 0;
}
.resources-wrapper {
  width: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.international-news,
.national-news {
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
}
.news-header,
.news-header-wrapper {
  margin: 0;
  flex-direction: row;
  max-width: 100%;
}
.news-header {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.news-header-wrapper {
  align-self: stretch;
  padding: 0 0 0 var(--padding-xs);
  box-sizing: border-box;
}
.frame-group,
.frame-parent,
.home-inner,
.news-header-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  width: 808px;
  flex-direction: column;
  gap: var(--gap-8xl);
  max-width: 100%;
  font-size: var(--font-size-64xl-6);
  font-family: var(--font-inter);
}
.frame-parent,
.home-inner {
  flex-direction: row;
  box-sizing: border-box;
}
.frame-parent {
  flex: 1;
  background-color: var(--color-powderblue);
  overflow: hidden;
  padding: 0 var(--padding-198xl) var(--padding-8xs);
  gap: var(--gap-56xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inika);
}
.home-inner {
  align-self: stretch;
  padding: 0 0 var(--padding-31xl);
  max-width: 102%;
  flex-shrink: 0;
}
.unsplash7brhzmwxn08-icon {
  height: 772px;
  width: 1476px;
  position: absolute;
  margin: 0 !important;
  bottom: -346px;
  left: -427px;
  border-radius: 248px;
  object-fit: cover;
}
.welcome-to-the {
  margin: 0;
}
.span {
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
.edu-world1,
.span {
  white-space: pre-wrap;
}
.edu-world {
  margin: 0;
  font-size: var(--font-size-51xl);
  color: var(--color-steelblue);
}
.affair1 {
  white-space: pre-wrap;
}
.span1 {
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
.affair {
  margin: 0;
}
.welcome-to-the-container {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.image-holder,
.image-holder-wrapper,
.side-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.image-holder {
  width: 685px;
  justify-content: flex-start;
  position: relative;
}
.image-holder-wrapper,
.side-content {
  box-sizing: border-box;
}
.image-holder-wrapper {
  flex: 1;
  overflow: hidden;
  justify-content: flex-end;
  padding: 152px 346px;
  min-height: 703px;
}
.side-content {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-32xl);
  margin-top: -6px;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font-radley);
}
.the-proposed-initiative {
  margin: 0;
  width: 837px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.the-proposed-initiative-of-enr-wrapper {
  width: 1073px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-child,
.frame-item {
  overflow: hidden;
  display: none;
}
.frame-child {
  width: 438px;
  height: 405px;
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-item {
  position: absolute;
  top: 35px;
  left: 0;
  width: 1458px;
  height: 771px;
}
.frame-container,
.frame-wrapper {
  align-self: stretch;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper {
  height: 621px;
  position: relative;
  z-index: 1;
}
.frame-container {
  height: 461px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) 0 93px;
  box-sizing: border-box;
  gap: 57px;
  max-width: 100%;
  margin-top: -6px;
  text-align: justify;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.objective {
  margin: 0;
  width: 315px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 800;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.objective-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-15xl) var(--padding-10xl);
  margin-top: -6px;
  text-align: justify;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.iconoircredit-cards {
  width: 5px;
  height: 4.2px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.impact-belief-focus-programs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19.1px 0 0;
}
.icon-book-open-icon {
  height: 58px;
  width: 132px;
  position: relative;
}
.impact-belief-focus-programs-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
  flex-shrink: 0;
}
.educational,
.resource {
  margin: 0;
}
.educational-resource {
  margin: 0;
  align-self: stretch;
  height: 73.1px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  display: flex;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.programs-container,
.resource-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.resource-content {
  align-self: stretch;
  justify-content: flex-start;
  gap: 29.9px;
}
.programs-container {
  width: 241px;
  justify-content: flex-end;
  padding: 0 var(--padding-19xl) var(--padding-3xl) 0;
  box-sizing: border-box;
}
.material-symbolsairware-round-icon {
  height: 59.2px;
  width: 74.9px;
  position: relative;
  object-fit: contain;
}
.development-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-49xl);
}
.professional-development {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
}
.development-content-parent {
  width: 221px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17.1px;
}
.icon-bank-icon {
  height: 86.1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.inner-icon-label {
  width: 159px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.innovative,
.learning {
  margin: 0;
}
.innovative-learning {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.icon-label-pair {
  width: 191px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.vector-icon {
  height: 77px;
  width: 110px;
  position: relative;
}
.training-program-overview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-17xl);
}
.community-building {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-style: italic;
  font-weight: 400;
  font-family: inherit;
}
.icon-label-pair1 {
  width: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 9px;
}
.learning-content,
.learning-content-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.learning-content {
  width: 1218px;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.learning-content-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-11xl) var(--padding-22xl) var(--padding-xl);
  box-sizing: border-box;
  margin-top: -6px;
  text-align: justify;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.about-us-child,
.about-us-item {
  height: 25px;
  width: 34px;
  position: relative;
  display: none;
}
.about-us-item {
  width: 49px;
}
.our-insights-and {
  width: 318px;
  position: relative;
  letter-spacing: 1.26px;
  text-transform: lowercase;
  display: inline-block;
}
.empty-insights-icon {
  align-self: stretch;
  height: 73px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.about-content,
.our-insights-and-knowledge-in-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.our-insights-and-knowledge-in-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-28xl);
}
.about-content {
  width: 334px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  min-width: 334px;
  max-width: 100%;
}
.about-us-inner {
  height: 24px;
  width: 158px;
  position: relative;
  display: none;
}
.edu-world-affair {
  position: relative;
  font-weight: 600;
}
.education1,
.home2 {
  position: relative;
  line-height: 38px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 61px;
}
.education1 {
  min-width: 99px;
}
.resources2 {
  display: inline-block;
  min-width: 103px;
}
.international-news1,
.national-news1,
.resources2 {
  position: relative;
  line-height: 38px;
  text-transform: capitalize;
}
.international-news1 {
  font-family: var(--font-poppins);
}
.link-options {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xl-9);
}
.contact-content,
.edu-info,
.link-options,
.navigation-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-links {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-52xl) 0 var(--padding-59xl);
  font-size: var(--font-size-2xl-3);
  font-family: var(--font-open-sans);
}
.contact-content,
.edu-info {
  flex-direction: column;
}
.edu-info {
  align-self: stretch;
  gap: var(--gap-8xl);
}
.contact-content {
  width: 348px;
  padding: 0 0 var(--padding-27xl);
  box-sizing: border-box;
  min-width: 348px;
  min-height: 403px;
  max-width: 100%;
}
.contact-us,
.place-a-call {
  position: relative;
  line-height: 41px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 115px;
}
.place-a-call {
  min-width: 120px;
}
.eduworldaffairgmailcom {
  color: inherit;
  font-family: var(--font-inter);
}
.email-eduworldaffairgmailc-container {
  align-self: stretch;
  position: relative;
  line-height: 42px;
  text-transform: capitalize;
  flex-shrink: 0;
}
.blank-line {
  margin: 0;
}
.text {
  width: 27.5px;
  height: 38.8px;
  position: relative;
  line-height: 40.41px;
  text-transform: capitalize;
  display: inline-block;
  flex-shrink: 0;
}
.email-eduworldaffairgmailc-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl-6);
}
.contact-details,
.contact-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-options {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-smi-4);
}
.contact-details {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-mid);
  box-sizing: border-box;
}
.privacy-policy,
.term-of-use {
  position: relative;
  line-height: 25px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 95px;
}
.term-of-use {
  min-width: 85px;
}
.policy-terms {
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
}
.contact-content-parent,
.contact-info {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-info {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-48xl-9);
  min-width: 255px;
  font-size: var(--font-size-3xl-6);
  font-family: var(--font-open-sans);
}
.contact-content-parent {
  width: 800px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-40xl);
  min-width: 800px;
  text-align: left;
  font-size: var(--font-size-22xl-4);
  font-family: var(--font-source-sans-pro);
}
.about-us,
.home {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.about-us {
  align-self: stretch;
  background-color: var(--color-gray-200);
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-2xs) var(--padding-64xl) 0;
  box-sizing: border-box;
  gap: var(--gap-59xl);
  max-width: 100%;
  margin-top: -6px;
  text-align: justify;
  font-size: var(--font-size-xl-2);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .frame-parent {
    padding-left: var(--padding-89xl);
    padding-right: var(--padding-89xl);
    box-sizing: border-box;
  }
  .image-holder-wrapper {
    padding-left: var(--padding-154xl);
    padding-right: var(--padding-154xl);
    box-sizing: border-box;
  }
  .frame-container {
    padding-bottom: var(--padding-41xl);
    box-sizing: border-box;
  }
  .about-content,
  .contact-content-parent {
    flex: 1;
  }
  .about-us {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .learning-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contact-content-parent {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .frame-parent {
    gap: var(--gap-18xl);
    padding-left: var(--padding-35xl);
    padding-right: var(--padding-35xl);
    box-sizing: border-box;
  }
  .welcome-to-the-container {
    font-size: var(--font-size-29xl);
  }
  .image-holder-wrapper {
    padding: var(--padding-7xl) var(--padding-67xl) 99px;
    box-sizing: border-box;
  }
  .side-content {
    padding-bottom: var(--padding-14xl);
    box-sizing: border-box;
  }
  .the-proposed-initiative {
    font-size: var(--font-size-9xl);
  }
  .frame-container {
    gap: var(--gap-9xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .objective {
    font-size: var(--font-size-29xl);
  }
  .community-building,
  .educational-resource,
  .innovative-learning,
  .professional-development {
    font-size: var(--font-size-9xl);
  }
  .edu-world-affair {
    font-size: var(--font-size-14xl);
  }
  .contact-content {
    flex: 1;
    min-width: 100%;
  }
  .contact-options {
    flex: 1;
  }
  .contact-content-parent {
    flex-wrap: wrap;
  }
  .about-us {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .frame-parent {
    gap: var(--gap-lgi);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .welcome-to-the-container {
    font-size: var(--font-size-17xl);
  }
  .image-holder-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .the-proposed-initiative {
    font-size: var(--font-size-2xl);
  }
  .objective {
    font-size: var(--font-size-17xl);
  }
  .community-building,
  .educational-resource,
  .innovative-learning,
  .professional-development {
    font-size: var(--font-size-2xl);
  }
  .our-insights-and {
    font-size: var(--font-size-base);
  }
  .our-insights-and-knowledge-in-parent {
    gap: var(--gap-4xl);
  }
  .edu-world-affair {
    font-size: var(--font-size-6xl);
  }
  .education1,
  .home2,
  .international-news1,
  .national-news1,
  .resources2 {
    font-size: var(--font-size-mid);
    line-height: 30px;
  }
  .navigation-links {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-content {
    padding-bottom: var(--padding-11xl);
    box-sizing: border-box;
  }
  .contact-us,
  .email-eduworldaffairgmailc-container,
  .place-a-call,
  .text {
    font-size: var(--font-size-lg);
    line-height: 32px;
  }
  .email-eduworldaffairgmailc-parent {
    gap: var(--gap-3xl);
  }
  .contact-info {
    gap: var(--gap-15xl);
  }
  .contact-content-parent {
    gap: var(--gap-10xl);
  }
  .about-us {
    gap: var(--gap-lgi);
  }
}
